@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300);

body {
	font: normal 15px/28px 'Merriweather', Georgia, serif;
	color: #292929;
	padding-bottom: 200px;
}

h1 {
	font: normal 15px/28px 'Merriweather', Georgia, serif;
	line-height: 62px;
	font-size: 48px;
	font-weight: normal;
	font-style: normal;
	color: #d73c2c;
}

p {
	font-size: 16px;
	font-weight: 300;
	margin: 50px 0;
}

.button {
	cursor: pointer;
	font: normal 15px/28px 'Merriweather', Georgia, serif;
	font-weight: 300;
	border-radius: 3px;
	padding: 14px 20px 14px 20px;
	border: 0;
	background-color: #fd7d68;
	font-size: 18px;
	line-heigt: 1;
	color: #fff;
	box-shadow: 0 3px 0 #df6653;
}

.button:focus {
	outline: none;
}

.button:active {
	background-color: #df6653;
}

.container {
	text-align: center;
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 100px;
	padding: 0 40px;
}

.container img { display: inline-block; }

pre {
	display: inline-block;
	max-width: 100%;
	border-radius: 5px;
	background: #f5f5f5 !important;
	box-sizing: border-box;
}

.ball {
	border: 10px solid #df6653;
	background: white;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: block;
}

.stage {
	height: 500px;
	width: 800px;
	position: relative;
	background: #f5f5f5;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 50px;
}

.buttons {
	margin: 30px 0 50px 0;
}

blockquote {
	padding-left: 30px;
	border-left: 3px solid #df6653;
	font-style: italic;
	display: inline-block;
	font-weight: 300;
	background: #f5f5f5;
	padding: 20px;
}

.logo {
	animation-name: fadeInTop;
	-webkit-animation-name: fadeInTop;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	animation-delay: 0;
	-webkit-animation-delay: 0;
}

@keyframes fadeInTop {
	0% { transform: translateY(-30%); opacity: 0 }
	60% { transform: translateY(4%); opacity: .5 }
	80% { transform: translateY(-2%); opacity: 1 }
	90% { transform: translateY(2%); opacity: 1 }
	97% { transform: translateY(-1%); opacity: 1 }
	100% { transform: translateY(0); opacity: 1 }
}

@-webkit-keyframes fadeInTop {
	0% { -webkit-transform: translateY(-30%); opacity: 0 }
	50% { -webkit-transform: translateY(8%); opacity: .5 }
	65% { -webkit-transform: translateY(-4%); opacity: 1 }
	80% { -webkit-transform: translateY(4%); opacity: 1 }
	95% { -webkit-transform: translateY(-2%); opacity: 1 }
	100% { -webkit-transform: translateY(0); opacity: 1 }
}

a {
	color: black;
}
a:hover {
	text-decoration: none;
}
